/*
// Default variable overrides
$body-bg-dark: #1e1e2e;
$body-bg-secondary-dark: #181825;
$body-color-dark: #ffffff;

$text-color-dark: #ffffff;

$primary:       #fab387;
$secondary:     #a6adc8;
/*
$success:       $green;
$info:          $cyan;
$warning:       $yellow;
$danger:        $red;
$light:         #cdd6f4;
$dark:          #11111b;
*/


@import "../node_modules/bootstrap/scss/bootstrap";